---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
{
    date: "June 2025 - Sept 2025",
    title: "AI Intern",
    company: "University of Southern Denmark",
    description:
      "Development of LLM based AI system for detection and management of breast cancers. Fine tuning of an open-source LLM. Deployement of the system as Agentic AI using the MCP protocol.",
  },
  {
    date: "2023 - Present",
    title: "DevOps Apprentice",
    company: "La Poste (French National Postal Service)",
    description:
      "Development and maintenance of web and mobile applications using Flutter, Kuzzle, and GitLab CI pipelines on Kubernetes infrastructure. Currently working on topics related to DevOps, AI, IoT, and cloud cost optimization.",
  },
  {
    date: "April 2023 - July 2023",
    title: "Full Stack Intern",
    company: "Scantech (High-precision 3D scanning)",
    description:
      "Development of a graphical application to control the movement of a sample holder on three axes (Python, Angular).",
  },
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="briefcase" />
      <Heading text="Work" textGradient="Experience" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
      <ol class="relative mt-10">
        {
          EXPERIENCE.map((experience, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`experience-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`experience-title-${index}`}
                >
                  <ExperienceItem {...experience} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>
